.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .header-icon {
    /* animation: App-logo-spin 3 50s linear; */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.icon.header.aligned {
  margin-bottom: 3em;
}

.header-icon,
.header-content {
  color: #61dafb;
}

.ui.card,
.ui.cards>.card {
  display: inline-flex;
  width: 250px;
}

.ui.card {
  margin: 1em;
}

.ui.card>.content,
.ui.cards>.card>.content {
  background: cornsilk;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui) {
  color: midnightblue;
  text-align: center;
}

.card-case-stats span {
  color: crimson;
  margin-left: 0.35em;
}
